[Service]
WorkingDirectory=/home/hbarta/freezer_temp
ExecStart=/home/hbarta/bin/ds18b20-temp.py
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=frzrtemp
User=hbarta
Group=hbarta
[Install]
WantedBy=multi-user.target

