[Service]
WorkingDirectory=/home/hbarta/freezer_pwr
ExecStart=/home/hbarta/bin/frmn.py  -n TPplug04
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=freezer
User=hbarta
Group=hbarta
[Install]
WantedBy=multi-user.target

