[Service]
WorkingDirectory=/home/hbarta/temp_humudity
ExecStart=/home/hbarta/bin/temp_humidity.sh
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=temphumid
User=hbarta
Group=hbarta
[Install]
WantedBy=multi-user.target

