[Service]
WorkingDirectory=/home/pi/temp_humudity
ExecStart=/home/pi/bin/temp_humidity.sh
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=temphumid
User=pi
Group=pi
[Install]
WantedBy=multi-user.target

